html{width:100%; height:100%; font-size:20px;}
body{width:100%; height:100%; font-size:1rem;}

/* 로그인 */
.login-wrap{width:100%; max-width:36rem; min-height:100%; background-color:#f5f5f5; margin:0 auto; position: relative;}
.login-wrap h1{width:15.25rem; margin:0 auto; padding:10.25rem 0 11rem;}
.login-wrap h1 img{width:100%}

.sns-wrap{width:26.5rem; margin:0 auto; font-size:1.5rem;}
.sns-wrap > a{display:block; width:100%; height:4.5rem; line-height:4.5rem; text-align:center; border-radius:.25rem; font-family:'NotoSansCJKkr-DemiLight';}
.sns-wrap a img{width:2rem; margin:0 1rem 0 0;}
.sns-kakao{background:#ffdc00; color:#451200;}
.sns-email{background:#4366d4; color:#fff; margin:1rem 0 0;}
.sns-wrap span{display:block; width:100%; text-align:center; color:#999; margin:2.5rem 0 0; padding:0 0 8.6rem; font-family:'NotoSansCJKkr-DemiLight';}
.sns-wrap span a{color:#4366d4; text-decoration:underline; text-underline-position: under; margin:0 0 0 1rem;}


/* 서브페이지 */
.sub-wrap{max-width:32rem; min-height:100%; padding:0 2rem; margin:0 auto; position: relative;}
.sub-wrap2{min-height:auto !important;}


.sub-wrap .top-tit{height:4.5rem; line-height:4.5rem; text-align: center; font-size:2rem; color:#000; letter-spacing: -.1rem; position:relative;}
.sub-wrap .posi-back{position:absolute; left:0; top:.4rem;}

.sub-wrap .back{display:inline-block; width:2rem; padding:1rem; margin:0 0 0 -1rem;}
.sub-wrap .title{margin-top:1.25rem; font-size:2.5rem; letter-spacing:-.125rem; font-weight:normal; color:#000; position:relative;}
.sub-wrap .title a{font-size:1.4rem; color:#777; position:absolute; right:0; bottom:0; line-height:2.4rem;}

.tit-txt{font-size:1.5rem; color:#777; margin-top:1.5rem; line-height:2.25rem;}
.tit-txt2{color:#bbb; margin-top:.8rem; line-height:2rem; font-family:'NotoSansCJKkr-DemiLight';}
.tit-txt3{font-size:1.4rem; color:#bbb; margin:1.2rem 0 0; line-height:2.25rem; font-family:'NotoSansCJKkr-DemiLight';}
.tit-txt4{color:#bbb; font-family:'NotoSansCJKkr-DemiLight';}
.tit-txt5{color:#999; margin:1.2rem 0 0; font-family:'NotoSansCJKkr-DemiLight';}
.tit-txt6{color:#999; margin:1.2rem 0 0; font-family:'NotoSansCJKkr-DemiLight'; font-size:1.4rem; line-height:2rem;}
.tit-txt7{font-size:1.4rem; color:#999; margin:1.5rem 0 0; line-height:2.25rem; font-family:'NotoSansCJKkr-DemiLight'; letter-spacing:-.07rem;}
.tit-txt8{font-size:1.5rem; color:#999; font-family:'NotoSansCJKkr-DemiLight';}

.sub-wrap .user{text-align:center; margin-top:2.5rem;}
.sub-wrap .user > span{display:inline-block; position:relative;}
.user .profile{width:9.2rem;}
.user .camera{width:3.25rem; position:absolute; right:-0.5rem; bottom:0;}


.stit-mw{max-width:32rem; margin:auto;}
.stit{font-weight:normal; font-size:1.5rem; color:#777; margin-top:2.25rem;}
.stit span{display:inline-block; margin:0 0 0 .5rem;}
.stit2{font-size:1.75rem; color:#555; letter-spacing:-.0875rem;}
.stit3{margin:3.75rem 0 0;}
.stit4{font-size:2rem; color:#000; letter-spacing:-.1rem;}
.stit5{font-size:1.6rem; color:#555; letter-spacing:-.08rem; margin:2.5rem 0 0; border-bottom:2px solid #bbb; padding:0 0 1.25rem 0;}
.stit5 span{font-size:1.5rem; color:#999; float:right;}
.stit6{font-size:1.8rem; color:#555; letter-spacing:-.09rem; margin:4rem auto 0;}
.stit7{font-size:2rem; color:#555; letter-spacing:-.1rem}
.stit-f{margin-top:4.2rem;}
.stit-f2{margin-top:3rem !important;}
.stit-f3{margin-top:2.5rem;}
.stit-f4{margin-top:5rem !important;}
.stit-f5{margin-top:3.5rem;}
.stit-f5 span{font-size:1.4rem; color:#bbb;}
.stit-f6{margin-top:1.5rem !important;}
.stit-fnone{margin-top:0;}

.certification{display:block; position:relative;}
.certification ul{position:absolute; right:0; top:0;}
.certification ul:after{content:""; clear:both; display:block;}
.certification ul li{float:left; margin:0 0 0 2rem; padding:.3rem; font-size:1.5rem;}
.certification ul li.authenticate{display:none;}

.apply-way{display:flex; justify-content:center; text-align:center; margin:2.5rem 0 0;}
.apply-way:after{content:""; clear:both; display:block;}
.apply-way>div{float:left; padding:0 .75rem;}
.apply-way>div img{width:6.5rem;}
.apply-way>div:nth-child(2) img,
.apply-way>div:nth-child(4) img{width:1.5rem; margin:3rem 0 0;}
.apply-way>div span{display:block; font-size:1.25rem; margin:1rem 0 0; white-space:nowrap;}

.facility{margin:2.1rem 0 0;}
.facility li{margin:2rem 0 0;}
.facility li:first-child{margin:0;}
.facility li:after{content:""; clear:both; display:block;}
.facility li div,
.facility li p{float:left;}
.facility li div{width:2.2rem; margin:0 1.2rem 0 0;}
.facility li div img{width:100%;}
.facility li p{font-size:1.5rem; color:#555;}
.facility li p span{display:block; font-size:1.4rem; color:#999; letter-spacing:-.07rem; margin:1rem 0 0;}

.facility-list{margin:2.1rem 0 0;}
.facility-list li{margin:2rem 0 0;}
.facility-list li:first-child{margin:0;}
.facility-list li:after{content:""; clear:both; display:block;}
.facility-list li div,
.facility-list li p{float:left; width:calc(100% - 3.8rem); font-size:1.7rem; color:#555;}
.facility-list li div{width:2.5rem; margin:0 1.3rem 0 0;}
.facility-list li div img{width:100%;}
.facility-list li p span{float:left; display:inline-block; width:50%; font-size:1.4rem; color:#999; letter-spacing:-.07rem; margin:.2rem 0 0;}
.facility-list li p span:nth-child(2n-1){width:43%;}
.facility-list li p span:nth-child(2n){width:50%; padding:0 7% 0 0;}
.facility-list li p .mt-1{margin:.8rem 0 0;}

.detail-txt li{float:left; font-size:1.4rem;}
.detail-txt li:nth-child(2n-1){clear: both; width:5rem; margin:1.25rem 4.25rem 0 0; color:#555;}
.detail-txt li:first-child{clear: none; margin:0 4.25rem 0 0;}
.detail-txt li:nth-child(2n){width:calc(100% - 9.25rem); margin:1.25rem 0 0; color:#999;}
.detail-txt li:nth-child(2){margin:0;}

.detail-txt2 li:nth-child(2n-1){width:7.5rem;}
.detail-txt2 li:nth-child(2n){width:calc(100% - 11.75rem);}

.quick-list{margin:3rem 0 0;}
.quick-list li{margin:1.5rem 0 0;}
.quick-list li:first{margin:0;}
.quick-list li a{display:block; border-radius:.5rem; overflow:hidden;}
.quick-list li a img{width:100%;}

.quick-detail-list{margin:2.5rem 0 0;}
.quick-detail-list li{padding:2.5rem; border:3px solid #ddd; border-radius:.5rem; box-sizing: border-box; margin:1.5rem 0 0;}
.quick-detail-list li:first-child{margin:0;}
.quick-detail-list li.blue-line{border:3px solid #4366d4;}
.quick-detail-list li p{font-size:1.8rem; letter-spacing:-.09rem; color:#555;}
.quick-detail-list li p span{font-size:2rem; color:#4366f4; letter-spacing:-.1rem; font-weight:bold; text-transform:uppercase; margin:0 1.5rem 0 0;}
.quick-detail-list li>span{display:block; margin:2rem 0 0; padding:2rem 0 0; border-top:1px solid #ebedee; font-size:1.4rem; color:#999; line-height:2rem; letter-spacing:-.07rem; display:none;}

.around-tab{margin:2.5rem 0 0; border-bottom:1px solid #bbb;}
.around-tab ul{max-width:32rem; margin:0 auto; padding:0 2rem;}
.around-tab ul li{float:left; width:33.3333%; text-align:center; padding:1rem 0; font-size:1.6rem; letter-spacing:-.08rem; color:#555;}
.around-tab ul li.on{color:#4366d4; border-bottom:3px solid #4366d4;}
.around-tab ul li span{display:inline-block; margin:0 0 0 .5rem;}
.hotel-tab ul li{width:29%;}
.hotel-tab ul li:nth-child(2){margin:0 6.5%;}
.hotel-detail-tab{margin:0;}
.guest-room-tab ul li{width:50%;}
.result-tab li:last-child{float:right; width:30%;}
.appointment-tab ul li{width:50%;}

.pick{width:100%; font-size:1.5rem; padding:1.25rem 0; background:#4366d4; color:#fff; text-align:center;}
.pick span{padding:0 .5rem;}

.around-info{margin:2rem 0 0; position:relative;}
.around-info .posi-bottom{position:absolute; bottom:0;}
.around-info>div{float:left;}
.around-info div.around-img{width:15rem; height:15rem; border-radius:.5rem; overflow: hidden; margin:0 2rem 0 0;}
.around-info div.around-height{height:10.5rem;}
.around-info div.around-img img{width:100%; height:100%; object-fit:cover;}
.around-info div.around-txt{width:calc(100% - 17rem);}
.around-info div.around-txt p{font-size:1.6rem; color:#555; letter-spacing:-.08rem; margin:.7rem 0 0;}
.around-info div.around-txt span{display:block; font-size:1.3rem; color:#999; line-height:2rem; letter-spacing:-.065rem; font-family:'NotoSansCJKkr-DemiLight';}

.room-info{margin:-.2rem 0 0 !important;}
.room-info>p{margin:0 !important;}
.room-info .around-price-txt{margin:1em 0 0 !important;}

.appointment-info .around-txt{width:calc(100% - 17rem);}
.appointment-info .around-txt .status span{float:left; display:block; width:5.3rem; height:2rem; color:#fff; border-radius:.15rem; padding:.5rem;}
.appointment-info .around-txt .status span:first-child{margin:0 .5rem 0 0; text-align:center;}
.appointment-info .around-txt .status .gray-on{background:#999;}
.appointment-info .around-txt .status .blue-on{background:#4366d4;}
.appointment-info .around-txt .status .green-on{background:#21b6ce;}
.appointment-info .around-txt .status p{font-size:1.2rem; letter-spacing:normal; color:#4366d4; margin:1rem 0 0;}
.appointment-info .around-txt>span{font-size:1.2rem !important;}
.appointment-info .around-price-txt{margin:.5rem 0 0 !important;}
.appointment-info .around-price-txt span{text-decoration:none;}

.attachment{margin:1.5rem 0 0;}
.attachment li{float:left; width:18%; margin:0 2.5% 0 0;}
.attachment li:last-child{margin:0; text-align:right; font-size:1.2rem; color:#bbb;}
.attachment li img{width:100%;}

.con-box{width:100%; position:relative; overflow:hidden;}
.con-box>div{position:absolute; background:#fff; left:50%; transform:translateX(-50%); z-index:1; opacity:0;}
.con-box>div.on{z-index:2; opacity:1;}
.con-03{width:100%;}

.last-txt{font-size:1.4rem; color:#999; margin:2.35rem 0 0; letter-spacing:-.07rem; line-height:2.25rem;}
.last-txt span{color:#333;}
.last-txt2{font-size:1.5rem; color:#999; text-align: center; margin:2rem 0 0;}
.last-txt2 a{display:inline-block; margin:0 0 0 1rem;}

.sub-wrap .find-info{margin-top:4.2rem;}
.sub-wrap .find-info a{display:block; color:#777; font-size:1.5rem;}

.checkbox{margin:3rem 0 0;}
.checkbox input[type="checkbox"]{width:1.5rem; height:1.5rem; background:#fff; border:1px solid #ddd; -webkit-appearance:none; -webkit-border-radius: 0; position:relative;}
.checkbox input[type="checkbox"]:checked{background:#4366d4; border:1px solid #4366d4;}
.checkbox input[type="checkbox"]:before{display:block; content:""; width:.95rem; height:.65rem; background:none; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
.checkbox input[type="checkbox"]:checked:before{display:block; content:""; width:.95rem; height:.65rem; background:url(../img/ico.check.png) no-repeat center center / 100% auto; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
.checkbox label{padding:0 0 0 .6rem; font-size:1.4rem; letter-spacing:-.07rem;}

.checkbox2{margin:1.5rem 0 0;}
.checkbox2 input[type="text"]{width:calc(100% - 7rem); float:right; padding:.4rem 0; font-size:1.2rem;}

.checkbox3{margin:0 0 2rem;}
.checkbox3 ul li{float:left;}
.checkbox3 ul li:nth-child(1){width:3rem; padding:.3rem 0 0;}
.checkbox3 ul li:nth-child(2){width:calc(100% - 3rem);}
.checkbox3 ul li label{padding:0; display:block; font-size:1.5rem; color:#999; font-family:'NotoSansCJKkr-DemiLight'; line-height:2.25rem;}
.checkbox3 ul li label span{font-size:1.6rem; color:#333; font-family:'Noto Sans KR';}

.process-box{text-align:center; margin:13.6rem 0 0;}
.process-box img{width:13rem;}
.process-box p{font-size:2rem; white-space:nowrap; margin:3.25rem 0 0; line-height:3rem; letter-spacing:-.1rem;}

a.btn{width:100%; height:5rem; line-height:5rem; text-align:center; background:#999; color:#fff; position:fixed; bottom:0; font-size:2rem;}
a.btn.on{background:#4366d4}
a.btn2{display:block; padding:0 2rem; height:5.5rem; line-height:5.5rem; font-size:1.5rem; color:#4366d4; border:1px solid #4366d4; border-radius:.35rem; box-sizing:border-box; margin:3rem 0; position:relative;}
a.btn2:after{display:block; content:""; width:.55rem; height:1.05rem; background:url(../img/ico_btn_arrow.png) no-repeat center / 100% auto; position:absolute; right:2rem; top:50%; transform:translateY(-50%);}
a.btn3{width:100%; height:5rem; line-height:5rem; text-align:center; background:#999; color:#fff;}

.reservation-btn>div{border-radius:.35rem; height:5rem;}
.reservation-btn>div:first-child{float:left; width:26rem;}
.reservation-btn>div a{display:block; height:5rem; line-height:5rem; text-align:center; font-size:2rem; color:#fff; background:#4366d4; letter-spacing:-.1rem; border-radius:.35rem;}
.reservation-btn>div:last-child{float:right; width:5rem; line-height:5rem; text-align: center; border:2px solid #bbb; box-sizing:border-box;}
.reservation-btn>div img{width:2.5rem;}

.reservation-btn2>div a{display:block; width:100%; height:5rem; line-height:5rem; text-align:center; font-size:2rem; color:#fff; background:#4366d4; letter-spacing:-.1rem; border-radius:.35rem;}
.reservation-btn3>div a{background:#999;}
.reservation-btn3>div a.on{background:#4366d4;}

.gray-bar{width:100%; height:2rem; background:#eee; font-size:0;}

.map{width:32rem; margin:1.5rem 0 0; border-radius:.5rem; overflow:hidden;}

.check-in-out-time ul{margin:1.3rem 0 0; position:relative;}
.check-in-out-time ul li{float:left; width:49%; padding:1.5rem; text-align:center; border:2px solid #ddd; border-radius:.5rem; box-sizing:border-box;}
.check-in-out-time ul li:first-child{margin:0 2% 0 0;}
.check-in-out-time ul li p{font-size:1.5rem; color:#555;}
.check-in-out-time ul li span{font-size:1.4rem; color:#999; letter-spacing:-.07rem;}

.facilities-list li{float:left; width:25%; text-align:center; margin:2rem 0 0;}
.facilities-list li div{width:3.5rem; height:3.5rem; margin:0 auto; text-align:center;}
.facilities-list li div img{width:100%;}
.facilities-list li p{font-size:1.2rem; color:#555; letter-spacing:-.06rem; margin:1rem 0 0;}

.review-top{margin:2rem 0 0;}
.review .review-tit{font-size:1.6rem; color:#555; letter-spacing:-.08rem;}
.review>span{display:inline-block; margin:.5rem 0 0; font-size:1.4rem; color:#999; letter-spacing:.07rem; font-family:'NotoSansCJKkr-DemiLight';}
.review>span>span{font-size:1.4rem; color:#999; letter-spacing:normal;}
.review>span>span:before{display:inline-block; content:""; width:2px; height:25px; background:#ddd; margin:0 1rem; position:relative; top:.2rem;}
.review .review-txt{font-size:1.5rem; color:#555; line-height:2.1rem; margin:1.4rem 0 0;}
.review ul{margin:1.5rem 0 0;}
.review ul li{float:left; width:7.5rem; height:7.5rem; border-radius:.5rem; overflow:hidden; margin:0 1rem 0 0;}
.review ul li:last-child{margin:0;}
.review ul li img{width:100%; height:100%; object-fit:cover;}

.search{border:3px solid #4366d4; border-radius:.35rem; box-sizing:border-box; position:relative; padding:1rem 1.5rem; margin:2.5rem 0 0;}
.search input{float:left; width:calc(100% - 2rem); border: none; font-size:1.5rem; height:2.1rem;}
.search img{float:right; width:2rem;}

.search-word li{float:left; width:50%; font-size:1.4rem; color:#999; letter-spacing:-.07rem; border-bottom:2px solid #eee; padding:1.5rem 0;}

.num{font-size:1.3rem; color:#4366d4; letter-spacing:normal; margin:1.5rem 0 0;}

.appointment-detail-visual{width:32rem; height:14.5rem; border-radius: .5rem; overflow: hidden; margin:3rem 0 0;}
.appointment-detail-visual img{width:100%; height:100%; object-fit:cover;}
.appo_tb{width: 100%;}
.appo_tb tr th{font-size:1.4rem; color:#555; letter-spacing:-.07rem; text-align:left; font-weight:normal; padding:.5rem 0;}
.appo_tb tr td{font-size:1.4rem; color:#999; letter-spacing:-.07rem; text-align:right;}
.appo-detail-btn{margin:1.5rem 0 3rem;}
.appo-detail-btn a{float:left; width:49%; height:4.5rem; line-height:4.5rem; text-align: center; border:2px solid #ddd; border-radius:.5rem; box-sizing: border-box; font-size:1.5rem; color:#555;}
.appo-detail-btn a:first-child{margin:0 2% 0 0;}

.reservation-info{background:#fff; border-radius:.35rem;}
.reservation-info h3{font-size:1.6rem; color:#333; letter-spacing:-.08rem; padding:1.5rem 2rem; border-bottom:1px solid #bbb; font-weight:normal;}
.reservation-info>div{padding:2rem;}
.reservation-info>div h4{font-size:1.4rem; color:#555; letter-spacing:-.07rem; font-weight: normal;}
.reservation-info>div h4>span{float:right;}
.reservation-info .check-in-out-time ul li{width:47%;}
.reservation-info .check-in-out-time ul li:first-child{margin:0 6% 0 0;}
.reservation-info .check-in-out-time .nights{width:3.75rem; height:3.75rem; line-height:3.75rem; text-align:center; font-size:1.4rem; color:#fff; letter-spacing:normal; background:#4366d4; border-radius:100%; padding:0; position:absolute; left: 50%; top:50%; transform: translate(-50%, -50%);}
.personnel>ul{margin:1rem 0 0;}
.personnel>ul>li{padding:1.6rem 2.1rem; border:2px solid #ddd; border-radius:.5rem; box-sizing:border-box;  margin:.5rem 0 0;}
.personnel>ul>li:first-child{margin:0;}
.personnel>ul>li p{float:left; font-size:1.5rem; color:#555;}
.personnel>ul>li ul{float:right;}
.personnel>ul>li ul:after{content:""; clear:both; display:block;}
.personnel>ul>li ul li{float:left; font-size:1.4rem; position:relative;}
.personnel>ul>li ul li:first-child,
.personnel>ul>li ul li:last-child{width:2rem; height:2rem; line-height:2rem; text-align: center; border:1px solid #ddd; background:#eee; font-size:0;}
.personnel>ul>li ul li:nth-child(2){height:2rem; line-height:2rem; text-align:center; padding:0 1.5rem;}
.personnel>ul>li ul li.plus:before,
.personnel>ul>li ul li.minus:before{display:block; content:""; width:.8rem; height:.1rem; background: #999; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
.personnel>ul>li ul li.plus:after{display:block; content:""; width:.8rem; height:.1rem; background: #999; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%) rotate(-90deg);}

.hotel-choise{width:100%; max-width:36rem; margin: auto;}
.hotel-choise li{font-size:1.75rem; color:#555; letter-spacing:-.0875rem; border-bottom:1px solid #bbb;}
.hotel-choise li:last-child{border-bottom:none;}
.hotel-choise li:after{content:""; clear:both; display:block;}
.hotel-choise li > p{float:left; padding:2rem 0 2rem 2rem;}
.hotel-choise li > span{float:left; padding:2.2rem 0 0 0; font-size:1.5rem; color:#bbb; margin:0 0 0 1.5rem;}
.hotel-choise li > img{float:right; width:1.2rem; margin:2.7rem 2rem 0;}
.hotel-choise li > .reverse{transform:rotate(180deg);}

.hotel-choise li article{border-top:1px solid #bbb;}
.hotel-choise li  .inner{padding:2rem;}

.article-01 div div{width:32rem; height:9.7rem;  border-radius:.5rem; overflow:hidden;}
.article-01 div div img{height:100%;}
.article-01 div h3{font-size:2rem; color:#000; letter-spacing:-.1rem; font-weight:normal; padding:1.5rem 0 1.15rem; border-bottom:1px solid #bbb;}
.article-01 div table{width:100%; margin:1.5rem 0 0;}
.article-01 div table th{font-size:1.4rem; color:#555; letter-spacing:.07rem; font-weight:normal;}
.article-01 div table td{font-size:1.4rem; color:#999; letter-spacing:.07rem; font-family:'NotoSansCJKkr-DemiLight'; text-align:right;}

.article-02 .f_mt{margin:0;}

.article-03 .f_mt{margin:0;}

.article-04 .info-txt{border-radius:.35rem; background: #eee; padding:1.5rem; font-size:1.5rem; color:#777; line-height:2.1rem;}

.article-05  p{margin:2.5rem 0 0;}
.article-05 table{width:100%; margin:2rem 0 0;}
.article-05 table th{font-size: 1.5rem; color:#999; font-weight:normal;}
.article-05 table td{font-size:2.3rem; color:#555; text-align:right;}
.article-05 table .tb-pb{padding:0 0 1.25rem;}
.article-05 table .tb-pt{padding:1.25rem 0 0;}
.article-05 table .line{font-size:0;}
.article-05 table .total{font-size:2.5rem;}
.article-05 table td span{font-size:1.5rem; color:#777;}

.f-check{max-width:32rem; margin:0 auto; padding:2.5rem 2rem; background:#eee;}


.notice-txt{margin:2rem 0 0; padding:0 0 2rem; border-bottom:2px solid #eee;}
.notice-txt p a{color:#555; font-size:1.6rem; letter-spacing:-.08rem; line-height:1.9rem;}
.notice-txt p span{font-size:2rem; margin:0 1.5rem 0 0;}
.notice-txt>span{display:inline-block; color:#999; font-size:1.4rem;letter-spacing:normal; margin:1rem 0 0;}

.notice-detail-txt{margin:2rem 0 0;}
.notice-img{width:32rem; height:22.5rem; border-radius:.5rem; overflow:hidden;}
.notice-img img{width:100%; height:100%; object-fit:cover;}

.notice-detail-txt span{display:block; color:#999; font-size:1.5rem; line-height:2rem; margin:2rem 0 0; font-family:'NotoSansCJKkr-DemiLight';}

.question-tab{max-width:32rem; padding:0 2rem; margin:0 auto; border-top:1px solid #bbb;}
.question-tab ul{display:flex; align-items:center; justify-content:space-between;}
.question-tab ul:after{}
.question-tab ul li{color:#555; font-size:1.6rem; letter-spacing:-.08rem; text-align:center; padding:1.25rem 1.4rem;}
.question-tab ul li.on{color:#4366d4; border-bottom:3px solid #4366d4;}

.question-txt>span{letter-spacing:-.07rem;}
.question-txt p{margin:1rem 0 0;}
.question-txt p span{font-size:2rem; margin:0 1.5rem 0 0;}


/* INPUT */
.input-outer{margin-top:.5rem; position:relative;}
.input-outer input{height:3rem;}
/* CLEAR BTN */
.input-outer .input-clear{width:1.75rem; height:1.75rem; background:#bbb; position:absolute; top:.65rem; right:0; border-radius:100%; font-size:0; display:none;}
.input-outer .input-clear:before{display:block; content:""; width:1rem; height:.05rem; background:#fff; transform:rotate(45deg); position:absolute; top:50%; left:20%;}
.input-outer .input-clear:after{display:block; content:""; width:1rem; height:.05rem; background:#fff; transform:rotate(-45deg); position:absolute; top:50%; left:20%;}
/* //CLEAR BTN */
/* //INPUT */


/* POPUP */
.black_bg{width:100%; height:100%; background:#000; position:fixed; opacity:.6; z-index: 99; font-size:0; display:none;}

.popup{width:25rem; background:#fff; text-align:center; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:.5rem; z-index: 100; display:none;}
.popup p{color:#000; font-size:2.25rem; padding: 2.5rem 0 0;}
.popup span{display:block; color:#777; font-size:1.5rem; padding:3.65rem;}

.popup ul{border-top:1px solid #bbb;}
.popup ul:after{content:""; clear:both; display:block;}
.popup ul li{float:left; width:100%; font-size:1.75rem; padding:1.8rem 0; text-align:center; box-sizing:border-box;}
.popup ul li:first-child{color:#4366d4;}

.popup ul.btn-2 li{width:50%;}
.popup ul.btn-2 li:first-child{border-right:1px solid #bbb;}
/* //POPUP */


/* 메인페이지 */

/* 탑메뉴 */
.top-menu{width:25rem; height:100%; background:#fff; position:fixed; right: -25rem; top: 0; z-index:100;}
.top-menu .inner{ padding:0 2rem;}

.top-header{margin:1.2rem 0 0;}
.top-header img{width:2.5rem;}
.top-header>img{float:left;}
.top-header>div{float:right;}
.top-header>div span{display:inline-block; margin:0 0 0 1.5rem;}
.top-header>div span.alarm{position:relative;}
.top-header>div span.alarm:after{display:block; content:""; width:1rem; height:1rem; border-radius:100%; background:#4366d4; position:absolute; right: 0; top: 0;}

.top-contents{margin:2rem 0 0;}
.top-contents .top-info div,
.top-contents .top-info p{float:left;}
.top-contents .top-info div{width:6.3rem; margin:0 1.5rem 0 0;}
.top-contents .top-info div img{width:100%;}
.top-contents .top-info p{font-size:1.8rem; color:#555; letter-spacing:-.09rem; margin:1rem 0 0;}
.top-contents .top-info span{display:block; font-size:1.2rem; color:#999; letter-spacing:normal;}



.line{width:100%; height:2px; background:#ddd; font-size:0; margin:1.5rem auto;}
.line2{width:100%; height:2px; background:#ddd; font-size:0; margin:2.5rem 0 2rem;}
.line3{width:100%; height:2px; background:#ddd; font-size:0; margin:2rem auto;}
.line4{max-width:32rem; height:2px; background:#ddd; font-size:0; margin:3rem auto;}
.line5{width:100%; height:2px; background:#ddd; font-size:0; margin:3rem auto 2rem;}
.line6{width:100%; height:2px; background:#ddd; font-size:0; margin:2rem auto 3rem;}
.line7{width:100%; height:2px; background:#ddd; font-size:0; margin:1rem auto;}
.line8{width:100%; height:2px; background:#ddd; font-size:0; margin:2rem auto 2.25rem;}

.top-contents .top-list{}
.top-contents .top-list li{font-size:1.8rem; margin:1rem 0 0;}
.top-contents .top-list li:first-child{margin:0;}
.top-contents .top-list li a{color:#000; letter-spacing:-.09rem;}

.top-footer{position:absolute; left: 0; bottom: 0;}
.top-footer .top-footer-list{width:100%; border-left:2px solid #ddd;  border-top:2px solid #ddd; box-sizing:border-box; background: #eee;}
.top-footer .top-footer-list li{float:left; width:50%; text-align:center; font-size:1.6rem; padding:1.2rem 0; border-right:2px solid #ddd;  border-bottom:2px solid #ddd; box-sizing:border-box;}
.top-footer .top-footer-list li a{display:block; color:#555; letter-spacing:-.08rem;}
.top-footer > img{width:100%;}
/* 탑메뉴 */

.header-inner,
.main-inner,
.contents{max-width:32rem; min-height:100%; padding:0 2rem; margin:0 auto; position: relative;}
.contents{min-height:auto;}
.contents2{background:#eee; padding:2rem; border-top:1px solid #bbb;}
.contents3{background:#fff;}

header{height:5rem; background:#eee;}
header:after{content:""; clear:both; display:block;}
header h1{float:left; width:10rem; margin:.7rem 0 0;}
header h1 img{width:100%; display:block;}
header .nav-ham{float:right; padding:1rem; margin:.6rem 0 0; position:relative; left:1rem;}
header .nav-ham img{display:block; width:2rem;}

main{background:#eee; padding:1.25rem 0 6.7rem;}
.main-sec h2{font-size:2.25rem; color:#000; font-weight:normal; letter-spacing: -0.1125rem; line-height:3rem;}

.main-inner{padding:0 2rem;}
.main-sec{width:100%}
.main-sec .quick{margin:1.6rem 0 0;}
.main-sec .quick ul{width:100%;}
.main-sec .quick ul:after{content:""; clear:both; display:block;}
.main-sec .quick ul li{float:left; width:30%; padding:0 1.6666%; text-align:center; margin:1.65rem auto 0;}
.main-sec .quick ul li a{display:inline-block; width:6.6671rem; height:6.6671rem; line-height:6.6671rem; text-align:center; background:#fff; border-radius:100%;}
.main-sec .quick ul li a{
-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}
.main-sec .quick ul li a img{width:3rem;}
.main-sec .quick ul li span{display:block; font-size:1.5rem; margin:1rem 0 0; color:#333;}

.event-banner{max-width:32rem; margin:-3.45rem auto 0; padding:0 2rem; text-align:center; position:relative;}
.event-banner img{width:100%;}
.event-banner2{max-width:32rem; padding:3rem 0; text-align:center;}
.event-banner2 img{width:100%;}

.main-sec h2 a.blue{color:#4366d4;}
.main-sec2{}
.main-sec2 h2{max-width:32rem; margin:3.8rem auto 0; padding:0 2rem; position:relative;}
.main-sec2 h2 a{font-size:1.4rem; color:#777; position:absolute; right:2rem; bottom:0; line-height:1.8rem;}

.main-sec2 h2 a.blue{color:#4366d4;}
.main-sec2 .article-txt{max-width:32rem; font-size:1.5rem; color:#777; margin:1.5rem auto 0; line-height:2.25rem; padding:0 2rem;}

.visual3 .swiper-container ul{margin:2rem 0 0;}
.visual3 .swiper-container ul li{float:left; width:50%; }
.visual3 .swiper-container ul li:nth-child(1),
.visual3 .swiper-container ul li:nth-child(2){font-size:1.5rem; font-weight: 500;}
.visual3 .swiper-container ul li:nth-child(3),
.visual3 .swiper-container ul li:nth-child(4){font-size:1.35rem; color:#999; margin:1rem 0 0; letter-spacing:-.0675rem;}
.visual3 .swiper-container ul li:nth-child(4){letter-spacing:normal;}
.visual3 .swiper-container>a{display:block; width:100%; font-size:1.5rem; text-align:center; padding:1.5rem 0; margin:1.5rem 0 0; border:2px solid #4366d4; box-sizing: border-box; border-radius:.5rem;}

.contents h2{margin:4.25rem 0 0; position:relative;}
.contents h2 a{font-size:1.4rem; color:#777; position:absolute; right:0; bottom:0; line-height:1.8rem;}
.contents .article-txt{font-size:1.4rem; color:#777; margin:1.5rem 0 0;}

.contents .tip-img{width:32rem; height:13rem; border-radius:.5rem; overflow:hidden; margin:2rem 0 0;}
.contents .tip-img img{width:100%; height:100%; object-fit:cover;}

.contents .hotel-img{width:32rem; height:15rem; margin:2.25rem 0 0; border-radius:.5rem; overflow: hidden;}
.contents .hotel-img img{width:100%; height:100%; object-fit:cover;}
.price-txt{margin:1.5rem 0 0;}
.price-txt>div{float:left;}
.price-left{width:60%; font-size:1.6rem; color:#555; letter-spacing:-.08rem; text-align:left !important;}
.price-left p{font-size:1.4rem; color:#999; letter-spacing:-.07rem; margin:.5rem 0 0;}
.price-left p span:after{display:inline-block; content:""; width:2px; height:25px; background:#ddd; margin:0 1rem; position:relative; top:.2rem;}
.price-right{width:40%;}
.price-right{font-size:2rem; color:#222; letter-spacing:normal;  text-align:right;}
.price-right p{font-size:1.2rem; color:#999; letter-spacing:normal; text-decoration:line-through; margin:.8rem 0 .5rem;}

.price-txt2{margin:1.5rem 0 0 !important;}
.price-txt2>div{width:100% !important; text-align:left;}
.price-txt2 .price-left{font-size:1.6rem !important; color:#555 !important; letter-spacing:-.08rem;}
.price-txt2 .price-left p{font-size:1.4rem !important; color:#999 !important; letter-spacing:-.07rem; margin:0 !important;}
.price-txt2 .price-left p span{display:inline-block !important;}
.price-txt2 .price-right{font-size:2rem !important; color:#222;}
.price-txt2 .price-right p{display:inline-block; font-size:1.2rem !important; color:#999 !important; margin:0 .5rem 0 0 !important;}

.around-price{margin:.4rem 0 0;}
.around-price>span{font-size:1.4rem !important;}
.around-price>span>span{display:inline !important; font-size:1.4rem !important; margin:0 !important;}
.around-price>span>span:after{display:inline-block; content:""; width:2px; height:25px; background:#ddd; margin:0 1rem; position:relative; top:.2rem;}
.around-price-txt{font-size:1.5rem !important; color:#222 !important; margin:1.5rem 0 0 !important;}
.around-price-txt>span{display:inline-block !important; font-size:1.3rem; text-decoration:line-through; margin:0 .5rem 0 0 !important;}
/* //메인페이지 */


/* 비주얼 (스와이프) */
/* MAIN-VISUAL */
.visual{padding:2.25rem 2.5rem 3rem; padding-top:2.25rem; margin:2rem 0 0; background:#fff; border-radius:.5rem;
-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}

.visual2{padding:0 0 1rem 0;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}
.visual2 .swiper-slide > img{width:100%;}
/* //MAIN-VISUAL */


.swiper-container{width:100%; height:100%;}
.swiper-container h3{font-size:1.75rem; font-weight:500; color:#333; letter-spacing:-.0875rem;}
.swiper-wrapper{padding:0 0 1.5rem;}
.swiper-slide{text-align: center; font-size: .9rem; background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-br>div{border-radius:.5rem; overflow:hidden;}

.swiper-slide>div{display:block; width:100%; margin:1.5rem 0 0;}
.swiper-slide div div{float:left;}
.swiper-slide div div:first-child{width:8.5rem; height:8.5rem; border-radius:.5rem; margin:0 2rem 0 0; text-align:center; overflow:hidden;}
.swiper-slide div div:first-child img{width:100%; height:100%; object-fit:cover;}
.swiper-slide div div:last-child{text-align:left;}
.swiper-slide div div:last-child p{font-size:1.5rem; margin:.5rem 0 0; color:#333; letter-spacing:-.075rem; font-weight:500;}
.swiper-slide div div:last-child span{display:block; font-size:1.35rem; color:#999; margin:.3rem 0 0; letter-spacing:normal;}
.swiper-slide div div:last-child a{display:inline-block; font-size:1.25rem; color:#4366d4; text-decoration:underline; margin:1rem 0 0; letter-spacing:-.0625rem;}

.main-swiper-calc{width:calc(100% - 10.5rem);}


.swiper-button-next,.swiper-button-prev{position:absolute; top:50%; width:3rem; height:3rem; background:#bbb; opacity:.9; border-radius:100%; margin-top:calc(-1 * var(--swiper-navigation-size)/ 2); z-index:10; cursor:pointer; display:flex; align-items:center; justify-content:center; color:var(--swiper-navigation-color,var(--swiper-theme-color));}
.swiper-button-prev:after,
.swiper-button-next:after{font-size:1rem !important; color:#fff;}
.swiper-button-next{right:-1.25rem;}
.swiper-button-prev{left:-1.25rem !important;}


.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:1.5rem; left:0; width:100%;}
.swiper-pagination-bullet{width:.8rem; height:.8rem; display:inline-block; border-radius:100%; background:#000; opacity:.2;}
.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 .4rem;}
.swiper-pagination-bullet-active{opacity:1; background:#4366d4;}

.visual2 .swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:0; left:0; width:100%;}
/* //비주얼 (스와이프) */


/* 슬라이드 (스와이프) */
.slide{max-width:36.4rem; padding:0 0 0 3.2rem; _padding:0 0 0 2rem; text-align:center; margin:2rem 0 0;}
.swiper-container2{width: 100%; height: 100%; margin-left:auto; margin-right:auto; position:relative; overflow:hidden; z-index:1;}
.swiper-wrapper2{position:relative; width:100%; height:100%; z-index:1; display:flex; transition-property:transform; box-sizing:content-box; padding:2rem 0 0;}
.swiper-slide2{display:block; width:12.5rem !important; height:100%; position:relative; transition-property:transform; text-align:center; font-size: .9rem; background:transparent; margin:0 1.5rem 0 0;
-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.swiper-slide2:nth-child(2n){width:12.5rem;}
.swiper-slide2:nth-child(3n){width:12.5rem;}

.swiper-slide2 div{display:block; width:90%; padding:1.25rem .625rem; border-radius:.5rem .5rem 0 0; background:#fff; margin:0; overflow:hidden;}
.swiper-slide2 div img{width:6rem;}
.swiper-slide2 div p{font-size:1.4rem; color:#333; margin:1rem 0 0; line-height: 1.7rem;}
.swiper-slide2 a{display:block; width:100%; height:3.25rem; line-height:3.25rem; font-size:1.5rem; color:#fff; border-radius:0 0 .5rem .5rem; background:#4366d4;}


.last-slide{padding:0 0 3rem 3.2rem;}
.slide2{max-width:36rem; margin:2rem auto 0;}
.slide2 .swiper-wrapper2{padding:0;}
.slide2 .swiper-slide2{width:22.75rem !important;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}

.slide2 .swiper-slide2:nth-child(2n){width:22.75rem;}
.slide2 .swiper-slide2:nth-child(3n){width:22.75rem;}

.slide2 .swiper-slide2>a{height:auto; background:transparent; line-height:normal;}
.slide2 .swiper-slide2 div{width:100%; padding:0; border-radius:.5rem;}
.slide2 .swiper-slide2 div img{width:100%;}
.slide2 .swiper-slide2 p{font-size:1.6rem; color:#555; letter-spacing:-.08rem; margin:1.5rem 0 0; text-align:left;}
.slide2 .swiper-slide2 p span{display:block; font-size:1.4rem; color:#999; letter-spacing:-.07rem; margin:.5rem 0 0; line-height:2rem;}
/* //슬라이드 (스와이프) */


.swiper-container3{width: 100%; height: 100%; margin-left:auto; margin-right:auto; position:relative; overflow:hidden; z-index:1;}
.swiper-wrapper3{position:relative; width:100%; height:100%; z-index:1; display:flex; transition-property:transform; box-sizing:content-box; padding:2rem 0 0;}
.swiper-slide3{display:block; width:8.75rem !important; height:100%; position:relative; transition-property:transform; text-align:center; font-size: .9rem; background:transparent; margin:0 1.5rem 0 0;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}

.slide3 .swiper-slide3:nth-child(2n){width:8.75rem;}
.slide3 .swiper-slide3:nth-child(3n){width:8.75rem;}

.swiper-slide3>a{display:block;}
.swiper-slide3 img{width:100%;}
.swiper-slide3 p{font-size:1.5rem; color:#000; margin:1rem 0 0;}

.swiper-container4{width:100%; height:100%; overflow:hidden;}
.fraction .swiper-pagination-fraction{text-align:right; font-size:1.4rem; color:#bbb; letter-spacing:normal;}


.swiper-container5{width:100%; height:100%; overflow:hidden;}
.fraction .swiper-pagination-fraction{text-align:right; font-size:1.4rem; color:#bbb; letter-spacing:normal;}
.slide5 .swiper-slide5{width:14.5rem !important; margin:0 1rem 0 0;}
.slide5 .swiper-slide5>div{width:100% !important;margin:0;}
.slide5 .swiper-slide5>div>div{width:100% !important; height:8.5rem; border-radius:.5rem; overflow:hidden; float:none;}
.slide5 .swiper-slide5>div>div img{height:100%;}
.slide5 .swiper-slide5>div p{font-size:1.4rem; color:#555; letter-spacing:-.07rem; margin:1rem 0 0; text-align:left;}
.slide5 .swiper-slide5>div p>span{display:block; text-align:left; font-size:1.2rem; color:#999; letter-spacing:-.06rem; font-family: 'NotoSansCJKkr-DemiLight';}
.slide5 .swiper-slide5>div p>span span:after{display:inline-block; content:""; width:2px; height:25px; background:#ddd; margin:0 1rem; position:relative; top:.2rem;}

.swiper-container6{width: 100%; height: 100%; margin-left:auto; margin-right:auto; position:relative; overflow:hidden; z-index:1;}

.height-210{height:10.5rem !important;}
.height-210 img{width:100%; height:100%; object-fit:cover;}

.height-320{height:16rem !important;}
.height-320 img{width:100%; height:100%; object-fit:cover;}

.height-450{height:22.5rem !important;}
.height-450 img{width:100%; height:100%; object-fit:cover;}


