@media all and (max-width:767px){
/* 로그인 */
.sns-wrap > a{height:50px; line-height:50px;}
.sns-wrap a img{width:25px;}
.sns-wrap > a{font-size:15px;}
.sns-wrap span{font-size:15px;}

    
/* 서브페이지 */
.sub-wrap{width:90%; min-height:100%; position: relative;}

.sub-wrap .back{display:inline-block; width:1rem; padding:.5rem; margin-left:-.5rem;}
.sub-wrap .title{margin-top:.625rem; font-size:1.1rem; letter-spacing:-.0625rem; margin-top:.3rem; }
.sub-wrap .tit-txt{font-size:.7rem; letter-spacing:-.0375rem;}
.sub-wrap .tit-txt2{font-size:.65rem; margin-top:.5rem}

.sub-wrap .user{margin-top:1.5rem;}
.user .profile{width:4.5rem;}
.user .camera{width:1.6rem; position:absolute; right:-0.3rem; bottom:0;}

.sub-wrap .stit{font-size:.7rem; letter-spacing:-.0375rem; margin-top:1rem;}
.sub-wrap .stit-f{margin-top:2rem;}

.certification{}
.certification ul li{margin:0 0 0 1rem; padding:.3rem; font-size:.6rem;}

.apply-way{margin:1rem 0 0;}
.apply-way>div{padding:0 .325rem;}
.apply-way>div img{width:3.25rem;}
.apply-way>div:nth-child(2) img,
.apply-way>div:nth-child(4) img{width:.7rem; margin:1.5rem 0 0;}
.apply-way>div span{font-size:.6rem;}

.last-txt{font-size:.5rem; margin:1rem 0 0;}

.sub-wrap .find-info{margin-top:2rem;}
.sub-wrap .find-info a{font-size:.7rem;}

.checkbox{margin:1rem 0 0;}
.checkbox input{width:.75rem; height:.75rem;}
.checkbox input:before{width:.475rem; height:.325rem;}
.checkbox input:checked:before{width:.475rem; height:0.325rem;}
.checkbox label{padding:0 0 0 .3rem; font-size:.65rem}
    
.process-box img{width:6.5rem;}
.process-box p{font-size:1rem; margin:1.5rem 0 0;}

a.btn{height:3rem; line-height:3rem; font-size:1rem;}


/* INPUT */
.sub-wrap .input-outer{margin-top:.25rem;}
.input-outer input{height:1.5rem; font-size:.6rem;}
input::-webkit-input-placeholder{font-size:.6rem;}
/* CLEAR BTN */
.input-outer .input-clear{width:.875rem; height:.875rem; top:.325rem;}
.input-outer .input-clear:before{width:.5rem;}
.input-outer .input-clear:after{width:.5rem;}
/* //CLEAR BTN */
/* //INPUT */


/* 메인페이지 */
.header-inner,
.main-inner,
.contents{width:90%;}

header{height:50px;}
header h1{width:4.5rem; margin:.5rem 0 0;}
header .nav-ham{padding:.5rem; margin:.3rem 0 0; left:.5rem;}
header .nav-ham img{width:1rem;}

main{padding:0.625rem 0 0;}
.main-sec h2{font-size:1.1rem;}

.main-inner{padding:0 3% 3.5rem 3%;}
.main-sec .quick ul li{margin:1rem 0 0;}
.main-sec .quick ul li a{width:3.25rem; height:3.25rem; line-height: 3.25rem;}
.main-sec .quick ul li a{
-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}
.main-sec .quick ul li a img{width:1.5rem;}
.main-sec .quick ul li span{font-size:.7rem; margin:0.3rem 0 0;}

.contents .event-banner{margin:-1.6rem 0 0;}
.contents h2{margin:2rem 0 0;}
.contents h2 a{font-size:.7rem;}
.contents .article-txt{font-size:.7rem; margin:.75rem 0 0;}

.contents .tip-img{ margin:1rem 0 0;}
/* //메인페이지 */


/* 비주얼 (스와이프) */
/* MAIN-VISUAL */
.visual{margin:1rem 0 0; padding-top:3%}
/* //MAIN-VISUAL */


.swiper-container h3{font-size:.875rem;}
.swiper-slide{font-size: .45rem;}

.swiper-slide>div{margin:0.75rem 0 0;}
.swiper-slide div div:first-child{width:4.25rem; margin:0 1rem 0 0;}
.swiper-slide div div:last-child p{font-size:0.75rem; margin:.2rem 0 0;}
.swiper-slide div div:last-child span{font-size:.675rem;}
.swiper-slide div div:last-child a{font-size:.625rem; margin:.875rem 0 0;}


.swiper-button-next,.swiper-button-prev{width:1.5rem; height:1.5rem; top:55%;}
.swiper-button-prev:after,
.swiper-button-next:after{font-size:.5rem !important;}
.swiper-button-next{right:-.625rem;}
.swiper-button-prev{left:-.625rem !important;}


.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:.25rem;}
.swiper-pagination-bullet{width:.5rem; height:.5rem;}
.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 .2rem;}
/* //비주얼 (스와이프) */


/* 슬라이드 (스와이프) */
.contents .slide{margin:1rem 0 0;}
.swiper-wrapper2{padding:.5rem 0;}
.swiper-slide2{display:block; width:32% !important;}
.swiper-slide2:nth-child(2n){width:32%;}
.swiper-slide2:nth-child(3n){width:32%;}
.swiper-slide2 div{border-radius:5px 5px 0 0;}
.swiper-slide2 div img{width:3rem;}
.swiper-slide2 div p{font-size:.7rem; margin:.5rem 0 0;}
.swiper-slide2 a{height:1.625rem; line-height:1.625rem; font-size:.7rem; border-radius:0 0 5px 5px;}
/* //슬라이드 (스와이프) */
}









